{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <h1>Login</h1>
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {{ form_start(form) }}

    <div>
        {{ form_row(form.email) }}
    </div>
    <div>
        {{ form_row(form.password) }}
    </div>

    <button type="submit">Iniciar sesión</button>
    {{ form_end(form) }}
{% endblock %}

