{% extends 'base.html.twig' %}

{% block title %}Registro {% endblock %}

{% block body %}
    <h1>Login</h1>

    <div class="form-container">
        <div class="login-form">
            <h2>Login</h2>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {{ form_start(form) }}  {# Formulario de login #}
            <div>
                {{ form_row(form.email) }}
            </div>
            <div>
                {{ form_row(form.password) }}
            </div>
            <button type="submit">Iniciar sesión</button>
            {{ form_end(form) }}
        </div>
    </div>

    {# Mostrar mensajes de éxito o error para ambos formularios #}
    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {{ messages|join(', ') }}
        </div>
    {% endfor %}
{% endblock %}


